@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .bg-navbar {
    @apply bg-gradient-to-r from-butter via-yellow-300 to-yellow-300;
  }
}
